html, body, #root {
  background-image: url(./background.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 600px) {
  body {
    background-image: url(./background.png); 
    overflow: scroll;
    background-size: cover;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  body {
    background-image: url(./background.png);
    background-size: cover;
    /* Stretch the background to cover the viewport */
    background-position: center;
    background-repeat: no-repeat;
  }
}
body {
  margin: 0;
  // background-color: #000f1f;
  font-family: "Space Mono" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: "Space Mono" !important;
  margin: 0;
}
h1 {
  color: black;
  font-family: "Space Mono";;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  box-sizing: border-box;
}
