html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  color: #CCFFFF !important;
  background-color: #000f1f;
  font-family: "Space Mono" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #CCFFFF !important;
  font-family: "Space Mono" !important;
  margin: 0;
}
h1 {
  color: #CCFFFF !important;
  font-family: "Space Mono";;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  box-sizing: border-box;
}
